{% load static %}
<header class="header header--secondary header--absolute __js_fixed-header header--height" xmlns:xlink="">
      <div class="header__container container container--size-large">
        <a class="header__logo logo">
            <h2>Brand<i>XPT</i></h2>
{#          <svg width="76" height="19">#}
{#            <use xlink:href="#v-logo"></use>#}
{#          </svg>#}
        </a>
        <div class="header__mobile mobile-canvas">
          <nav class="mobile-canvas__nav navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link animsition-link" href="about-us.html">BRAND GROWTH<span class="navigation__link-icon">
                    <svg width="12" height="13">
                      <use xlink:href="#link-arrow"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link animsition-link" href="about-us.html">Digital Solution<span class="navigation__link-icon">
                    <svg width="12" height="13">
                      <use xlink:href="#link-arrow"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link animsition-link" href="about-us.html">Ecommerce Support<span class="navigation__link-icon">
                    <svg width="12" height="13">
                      <use xlink:href="#link-arrow"></use>
                    </svg>
                  </span>
                </a>
              </li>
{#              <li class="navigation__item">#}
{#                <a class="navigation__link animsition-link" href="about-us.html">Thinking Lab<span class="navigation__link-icon">#}
{#                    <svg width="12" height="13">#}
{#                      <use xlink:href="#link-arrow"></use>#}
{#                    </svg>#}
{#                  </span>#}
{#                </a>#}
{#              </li>#}
              <li class="navigation__item">
                <a class="navigation__link animsition-link" href="projects-masonry.html">More<span class="navigation__link-icon">
                    <svg width="12" height="13">
                      <use xlink:href="#link-arrow"></use>
                    </svg>
                  </span>
                </a>
                <div class="navigation__dropdown">
                  <ul class="navigation__dropdown-list">
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="projects-masonry.html">Masonry<span class="navigation__dropdown-icon">
                          <svg width="12" height="13">
                            <use xlink:href="#link-arrow"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="projects-carousel.html">Carousel<span class="navigation__dropdown-icon">
                          <svg width="12" height="13">
                            <use xlink:href="#link-arrow"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="portfolio-tooltip.html">Tooltips<span class="navigation__dropdown-icon">
                          <svg width="12" height="13">
                            <use xlink:href="#link-arrow"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                    <li class="navigation__dropdown-item">
                      <a class="animsition-link" href="{% url 'contact' %}">Contact Us<span class="navigation__dropdown-icon">
                          <svg width="12" height="13">
                            <use xlink:href="#link-arrow"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
          <a class="mobile-canvas__phone" href="tel:+919663994748">+91 966 399 4748</a>
        </div>
        <button class="header__menu-toggle menu-toggle" type="button">
          <span class="menu-toggle__line"></span>
          <span class="visually-hidden">Menu toggle</span>
        </button>
      </div>
    </header>
