{% extends 'centrix/base.html' %}
{% load static %}

{% block content %}
    <main>
    <article class="blog-grid blog-grid--post">
        <div class="blog-grid__first-screen">
          <div class="blog-grid__first-screen-image __js_parallax">
            <img src="{{ project.img.url }}" width="1920" height="1099" alt="">
          </div>
{#          <div class="blog-grid__tag">Design</div>#}
          <h1 class="heading heading--size-large blog-grid__title">{{ project.title }}</h1>
        </div>
        <div class="single-post">
          <div class="container container--xsmall">
              {{ project.content|safe }}
            <div class="single-post__date" data-aos="fade-up">Admin on Jule 3, 2020</div>
            <div class="single-post__title" data-aos="fade-up">To mark the first UK show of artist Henri Barande, graphic designer Paul</div>
            <div class="single-post__text" data-aos="fade-up">
              <p>
                This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact it can trigger self-censoring.</p>
              <p>
                One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically
                avoid potentially stressful situations of all kinds, including most common of all:
              </p>
            </div>
          </div>
          <div class="container container--small">
            <div class="single-post__image" data-aos="fade-up">
              <img src="img/picture/news/post/post-1.jpg" width="1110" height="628" alt="">
            </div>
          </div>
          <div class="container container--xsmall">
            <div class="single-post__subtitle" data-aos="fade-up">Methods for Everyone</div>
            <div class="single-post__text" data-aos="fade-up">
              <p>
                Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew
                everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.
              </p>
              <p>
                One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus
                automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.
              </p>
            </div>
            <!-- Quote-->
            <blockquote class="quote single-post__quote" data-aos="fade-up">
              <p>
                Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time. emotional sensation of stress from our firs</p>
              <cite>
                <span class="quote__name">Paul</span>
                <span class="quote__position">Elite Author</span>
              </cite>
            </blockquote>
          </div>
          <div class="container container--small">
            <div class="single-post__gallery">
              <div class="single-post__gallery-col" data-aos="fade-up">
                <img src="img/picture/news/post/post-2.jpg" width="540" height="302" alt="">
                <img src="img/picture/news/post/post-3.jpg" width="540" height="302" alt="">
              </div>
              <div class="single-post__gallery-col" data-aos="fade-up">
                <img src="img/picture/news/post/post-4.jpg" width="540" height="634" alt="">
              </div>
            </div>
          </div>
          <div class="container container--xsmall">
            <div class="single-post__subtitle single-post__subtitle--margin" data-aos="fade-up">Challenge</div>
            <div class="single-post__text" data-aos="fade-up">
              <p>
                Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew
                everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.
              </p>
              <p>
                One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus
                automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.
              </p>
            </div>
            <div class="single-post__nav" data-aos="fade-up">
              <div class="single-post__tags" data-aos="fade-up">
                <b>Tags:</b> Inspiration, Workspace, Minimal, Decoation
              </div>
              <div class="single-post__share" data-aos="fade-up">
                <b>Share:</b>
                <a class="single-post__share-icon" href="#" target="_blank">
                  <svg>
                    <use xlink:href="#soc-fb"></use>
                  </svg>
                </a>
                <a class="single-post__share-icon" href="#" target="_blank">
                  <svg>
                    <use xlink:href="#soc-tw"></use>
                  </svg>
                </a>
                <a class="single-post__share-icon" href="#" target="_blank">
                  <svg>
                    <use xlink:href="#soc-pinterest"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="single-post__subtitle" data-aos="fade-up">Related posts</div>
          </div>
          <div class="container container--size-large">
            <ul class="blog-grid__row row g-0 single-post__related">
              <li class="blog-grid__card news-card  col-12 col-md-6 col-lg-4" data-aos="fade-up">
                <div class="news-card__wrapper">
                  <div class="news-card__pic">
                    <img src="img/picture/news/blog-1.jpg" width="533" height="510" alt="" />
                  </div>
                  <div class="news-card__content">
                    <div class="news-card__top">
                      <div class="news-card__date">
                        <span>16</span>
                        <span>&nbsp;</span>
                        <span>Jan</span>
                        <span>,&nbsp;</span>
                        <span>2020</span>
                        <span>&nbsp;/&nbsp;</span>
                        <span>Design</span>
                      </div>
                      <div class="news-card__title">A few words
                        <br> about us
                      </div>
                    </div>
                    <div class="news-card__bottom">
                      <div class="news-card__text">We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people</div>
                      <a class="arrow-link--no-scale arrow-link" href="single-post.html">
                        <span class="arrow-link__icon">
                          <svg width="75" height="75">
                            <use xlink:href="#link-arrow"></use>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="blog-grid__card news-card  col-12 col-md-6 col-lg-4" data-aos="fade-up">
                <div class="news-card__wrapper">
                  <div class="news-card__pic">
                    <img src="img/picture/news/blog-2.jpg" width="533" height="510" alt="" />
                  </div>
                  <div class="news-card__content">
                    <div class="news-card__top">
                      <div class="news-card__date">
                        <span>16</span>
                        <span>&nbsp;</span>
                        <span>Jan</span>
                        <span>,&nbsp;</span>
                        <span>2020</span>
                        <span>&nbsp;/&nbsp;</span>
                        <span>Design</span>
                      </div>
                      <div class="news-card__title">A few words
                        <br> about us
                      </div>
                    </div>
                    <div class="news-card__bottom">
                      <div class="news-card__text">We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people</div>
                      <a class="arrow-link--no-scale arrow-link" href="single-post.html">
                        <span class="arrow-link__icon">
                          <svg width="75" height="75">
                            <use xlink:href="#link-arrow"></use>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="blog-grid__card news-card  col-12 col-md-6 col-lg-4" data-aos="fade-up">
                <div class="news-card__wrapper">
                  <div class="news-card__pic">
                    <img src="img/picture/news/blog-5.jpg" width="533" height="510" alt="" />
                  </div>
                  <div class="news-card__content">
                    <div class="news-card__top">
                      <div class="news-card__date">
                        <span>16</span>
                        <span>&nbsp;</span>
                        <span>Jan</span>
                        <span>,&nbsp;</span>
                        <span>2020</span>
                        <span>&nbsp;/&nbsp;</span>
                        <span>Design</span>
                      </div>
                      <div class="news-card__title">A few words
                        <br> about us
                      </div>
                    </div>
                    <div class="news-card__bottom">
                      <div class="news-card__text">We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people</div>
                      <a class="arrow-link--no-scale arrow-link" href="single-post.html">
                        <span class="arrow-link__icon">
                          <svg width="75" height="75">
                            <use xlink:href="#link-arrow"></use>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="container container--xsmall">
            <div class="single-post__subtitle" data-aos="fade-up">Comments</div>
            <div class="comment single-post__comment">
              <div class="comment__wrapper">
                <div class="comment-item" data-aos="fade-up">
                  <div class="comment-item__photo">
                    <img src="img/picture/news/post/comment-1.jpg" width="80" height="80" alt="">
                  </div>
                  <div class="comment-item__content">
                    <div class="comment-item__top">
                      <div class="comment-item__name">Hayley</div>
                      <div class="comment-item__sent">Jul 03, 2020 at 15 hours ago</div>
                    </div>
                    <div class="comment-item__text">Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up</div>
                    <button class="comment-item__reply">Reply</button>
                  </div>
                </div>
                <div class="comment-item comment-item--replyed" data-aos="fade-up">
                  <div class="comment-item__photo">
                    <img src="img/picture/news/post/comment-2.jpg" width="80" height="80" alt="">
                  </div>
                  <div class="comment-item__content">
                    <div class="comment-item__top">
                      <div class="comment-item__name">Denzel</div>
                      <div class="comment-item__sent">Jul 03, 2020 at 15 hours ago</div>
                    </div>
                    <div class="comment-item__text">Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass</div>
                    <button class="comment-item__reply">Reply</button>
                  </div>
                </div>
                <div class="comment-item" data-aos="fade-up">
                  <div class="comment-item__photo">
                    <img src="img/picture/news/post/comment-3.jpg" width="80" height="80" alt="">
                  </div>
                  <div class="comment-item__content">
                    <div class="comment-item__top">
                      <div class="comment-item__name">Amanda</div>
                      <div class="comment-item__sent">Jul 03, 2020 at 15 hours ago</div>
                    </div>
                    <div class="comment-item__text">Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up</div>
                    <button class="comment-item__reply">Reply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container container--small">
            <div class="form single-post__form" data-aos="fade-up">
              <div class="form__title" data-aos="fade-up">Post a comment</div>
              <form action="#" method="post">
                <div class="form__row">
                  <label class="field" data-aos="fade-up">
                    <input type="text" name="name">
                    <span class="field__hint">Name</span>
                  </label>
                  <label class="field" data-aos="fade-up">
                    <input type="email" name="email">
                    <span class="field__hint">E-mail</span>
                  </label>
                </div>
                <label class="field" data-aos="fade-up">
                  <textarea name="message" required></textarea>
                  <span class="field__hint">Message*</span>
                </label>
                <label class="field-file" data-aos="fade-up">
                  <input type="file" name="file">
                  <svg>
                    <use xlink:href="#clip"></use>
                  </svg>
                  <span>Attach a file</span>
                </label>
                <button class="btn--black btn" data-aos="fade-up">
                  <span class="btn__text">Submit</span>
                  <span class="btn__icon">
                    <svg width="19" height="19">
                      <use xlink:href="#link-arrow"></use>
                    </svg>
                  </span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </article>
    </main>
{% endblock %}